<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gradus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A94FAE791BE48D4400D980CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A94FAE8D1BE48D4500D980CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A94FAE981BE48D4500D980CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
